section.about.flex#section-2.js--section-about
    .row
        div.flex.flex_direction_column.opacity.js--wp-1
            div.about__content.about__content_margin-titel.flex.flex_align-start.flex_start.flex_direction_column  
                h3.about__title About us
                span.about__text__buttom-line
            div.about__content.about__content_margin-text.flex.flex_align-start.flex_direction_column  
                p.about__text__title Probass it is all about sound and hands free communication. 
                p.about__text It is a young brand with the young team. “Miro Angel” is an innovative startup with main office located in LA, California. We are cooperating with lead young designs and technical specialists all over the world to create our products; with reliable factories in Asia to produce our earphones; with strong distributors to deliver our products since 2010.
                p.about__text#home Active rhythm of everyday life advises us the core product range in probass portfolio. Everybody can find the right earphone.
    div.page__indicator.flex.flex_direction_column.flex_flex-end.flex_align-center
        div.page__indicator__list.about_indicator-color
        div.page__indicator__number.about_indicator-text-color  02
        div.page__indicator__text.about__indicator__text.about_indicator-color 
        div.page__indicator__line.about_indicator-color
        div.page__indicator__list.about_indicator-color
        div.page__indicator__list.about_indicator-color
        div.page__indicator__list.about_indicator-color
        div.page__indicator__list.about_indicator-color
        div.page__indicator__list.page__indicator__margin.about_indicator-color 
        //  page indicator watch in 3-layuots home.scss