section.content-block_two_background
    div.content-block_two.flex
            .row#section-5.opacity.js--wp-4
                div.flex.flex_direction_column.content-block_margin-mobile
                    div.content-block__head.flex.flex_direction_column
                        div.flex.flex_start.flex_direction_column  
                            h3.content-block__title.content-block__text-padding   Mx102 straipe - colored mood 
                            span.content-block__text__buttom-line
                        div.flex.flex_start.flex_direction_column
                            p.content-block__text.content-block__text-padding  Earphones, created for young and active people. Life has a lot of gray so as much bringht stuff you can bring into your life, as much funny and enjoyable life you can get. Be bright, be colored and have fun.
                    div.content-block__img__static
                        ul.flex.flex_space-around.flex-flow_wrap.content-block__padding-left 
                            li.block__img_list-style.block__img_margin_bottom
                                img(src="img/block_content/content-2-desktop-1.png" alt="Girl listening to music on headphones").content-block__img
                        ul.flex.flex_space-around.flex-flow_wrap.content-block__padding-left 
                            li.block__img_list-style.block__img_margin_right
                                img(src="img/block_content/content-2-desktop-2.png" alt="Headphones connected to laptop").content-block__img
                            li.block__img_list-style.block__img_margin_left
                                img(src="img/block_content/content-2-desktop-3.jpg" alt="Black Headphones").content-block__img
                    div.content-block__img__slider
                        .container
                            div#slides3
                                picture
                                    source(srcset="img/block_content/mx102_slide5_large.png" media="(min-width: 730px)")
                                    source(srcset="img/block_content/mx102_slide5_medium.png" media="(min-width: 640px)")
                                    source(srcset="img/block_content/mx102_slide5_small.png" media="(min-width: 320px)")
                                    img.img(src="img/block_content/img/block_content/mx102_slide5_large.png" alt="Girl listening to music on headphones")
                                picture
                                    source(srcset="img/block_content/mx102_slide6_large.png" media="(min-width: 730px)")
                                    source(srcset="img/block_content/mx102_slide6_medium.png" media="(min-width: 640px)")
                                    source(srcset="img/block_content/mx102_slide6_small.png" media="(min-width: 320px)")
                                    img.img(src="img/block_content/img/block_content/mx102_slide6_large.png" alt="Girl listening to music on headphones")
                                picture
                                    source(srcset="img/block_content/mx102_slide7_large.png" media="(min-width: 730px)")
                                    source(srcset="img/block_content/mx102_slide7_medium.png" media="(min-width: 640px)")
                                    source(srcset="img/block_content/mx102_slide7_small.png" media="(min-width: 320px)")
                                    img.img(src="img/block_content/img/block_content/mx102_slide7_large.png" alt="Girl listening to music on headphones")
                                a(href="#").slidesjs-previous.slidesjs-navigation
                                    i.icon-chevron-left
                                a(href="#").slidesjs-next.slidesjs-navigation
                                    i.icon-chevron-right
                        .container
                            div#slides4
                                picture
                                    source(srcset="img/block_content/mx102_slide1_large.png" media="(min-width: 730px)")
                                    source(srcset="img/block_content/mx102_slide1_medium.png" media="(min-width: 640px)")
                                    source(srcset="img/block_content/mx102_slide1_small.png" media="(min-width: 320px)")
                                    img.img(src="img/block_content/mx102_slide1_large.png" alt="Girl listening to music on headphones")
                                picture
                                    source(srcset="img/block_content/mx102_slide2_large.png" media="(min-width: 730px)")
                                    source(srcset="img/block_content/mx102_slide2_medium.png" media="(min-width: 640px)")
                                    source(srcset="img/block_content/mx102_slide2_small.png" media="(min-width: 320px)")
                                    img.img(src="img/block_content/mx102_slide2_large.png" alt="Girl listening to music on headphones")
                                picture
                                    source(srcset="img/block_content/mx102_slide3_large.png" media="(min-width: 730px)")
                                    source(srcset="img/block_content/mx102_slide3_medium.png" media="(min-width: 640px)")
                                    source(srcset="img/block_content/mx102_slide3_small.png" media="(min-width: 320px)")
                                    img.img(src="img/block_content/mx102_slide3_large.png" alt="Girl listening to music on headphones")
                                picture
                                    source(srcset="img/block_content/mx102_slide4_large.png" media="(min-width: 730px)")
                                    source(srcset="img/block_content/mx102_slide4_medium.png" media="(min-width: 640px)")
                                    source(srcset="img/block_content/mx102_slide4_small.png" media="(min-width: 320px)")
                                    img.img(src="img/block_content/mx102_slide4_large.png" alt="Girl listening to music on headphones")
                                a(href="#").slidesjs-previous.slidesjs-navigation
                                    i.icon-chevron-left
                                a(href="#").slidesjs-next.slidesjs-navigation
                                    i.icon-chevron-right
                    div.content-block__type-color.__type-color_list-style.content-block__list-style_desktop.content-block__list-style_column
                            p.content-block__list-style_column.content-block_two_color-text Available colors:
                            div.__type-color_position
                                ul.content-block__padding-left.content-block_two_color-text 
                                    li.__type-color_item-style
                                        span.dot__block.dot__block_color-black 
                                        p.test_block Black
                                    li.__type-color_item-style 
                                        span.dot__block.dot__block_color-sharkskin
                                        p.test_block Sharkskin
                                    li.__type-color_item-style 
                                        span.dot__block.dot__block_color-white
                                        p.test_block White
                                    li.__type-color_item-style 
                                        span.dot__block.dot__block_color-graphite_two
                                        p.test_block Graphite
                                ul.content-block__padding-left.margin-top_mobile.content-block_two_color-text    
                                    li.__type-color_item-style
                                        span.dot__block.dot__block_color-coral
                                        p.test_block Coral
                                    li.__type-color_item-style 
                                        span.dot__block.dot__block_color-aurora-red
                                        p.test_block Aurora red
                                    li.__type-color_item-style 
                                        span.dot__block.dot__block_color-soft-pink
                                        p.test_block Soft pink
                                    li.__type-color_item-style 
                                        span.dot__block.dot__block_color-bodacious
                                        p.test_block Bodacious
                                ul.content-block__padding-left.content-block_two_color-text   
                                    li.__type-color_item-style
                                        span.dot__block.dot__block_color-yellow
                                        p.test_block Yellow
                                    li.__type-color_item-style 
                                        span.dot__block.dot__block_color-spicy-mustang
                                        p.test_block Spicy Mustang
                                    li.__type-color_item-style 
                                        span.dot__block.dot__block_color-lime-green
                                        p.test_block Lime Green
                                    li.__type-color_item-style 
                                        span.dot__block.dot__block_color-warm-taupe
                                        p.test_block Warm Taupe
                                ul.content-block__padding-left.content-block_two_color-text 
                                    li.__type-color_item-style
                                        span.dot__block.dot__block_color-tiffany-blue
                                        p.test_block Tiffany Blue
                                    li.__type-color_item-style 
                                        span.dot__block.dot__block_color-airy-blue
                                        p.test_block Airy Blue
                                    li.__type-color_item-style 
                                        span.dot__block.dot__block_color-cobalt-blue
                                        p.test_block Cobalt Blue
                                    li.__type-color_item-style 
                                        span.dot__block.dot__block_color-lilac
                                        p.test_block Lilac
                    div.content-block__type-color.__type-color_list-style.content-block__list-style_mobile.content-block__list-style_column.__type-color_list-style 
                            p.content-block__list-style_column.content-block_two_color-text Available colors:
                            div.__type-color_position
                                ul.content-block__padding-left.content-block_two_color-text 
                                    li.__type-color_item-style
                                        span.dot__block.dot__block_color-black 
                                        p.test_block Black
                                    li.__type-color_item-style 
                                        span.dot__block.dot__block_color-sharkskin
                                        p.test_block Sharkskin
                                    li.__type-color_item-style 
                                        span.dot__block.dot__block_color-white
                                        p.test_block White
                                    li.__type-color_item-style 
                                        span.dot__block.dot__block_color-graphite_two
                                        p.test_block Graphite
                                    li.__type-color_item-style 
                                        span.dot__block.dot__block_color-cobalt-blue
                                        p.test_block Cobalt Blue
                                    li.__type-color_item-style 
                                        span.dot__block.dot__block_color-lilac
                                        p.test_block Lilac
                                ul.content-block__padding-left.margin-top_mobile.content-block_two_color-text    
                                    li.__type-color_item-style
                                        span.dot__block.dot__block_color-coral
                                        p.test_block Coral
                                    li.__type-color_item-style 
                                        span.dot__block.dot__block_color-aurora-red
                                        p.test_block Aurora red
                                    li.__type-color_item-style 
                                        span.dot__block.dot__block_color-soft-pink
                                        p.test_block Soft pink
                                    li.__type-color_item-style 
                                        span.dot__block.dot__block_color-bodacious
                                        p.test_block Bodacious
                                    li.__type-color_item-style 
                                        span.dot__block.dot__block_color-airy-blue
                                        p.test_block Airy Blue
                                ul.content-block__padding-left.content-block_two_color-text   
                                    li.__type-color_item-style
                                        span.dot__block.dot__block_color-yellow
                                        p.test_block Yellow
                                    li.__type-color_item-style 
                                        span.dot__block.dot__block_color-spicy-mustang
                                        p.test_block Spicy Mustang
                                    li.__type-color_item-style 
                                        span.dot__block.dot__block_color-lime-green
                                        p.test_block Lime Green
                                    li.__type-color_item-style 
                                        span.dot__block.dot__block_color-warm-taupe
                                        p.test_block Warm Taupe
                                    li.__type-color_item-style
                                        span.dot__block.dot__block_color-tiffany-blue
                                        p.test_block Tiffany Blue
                    div.content-block__descriptions.content-block__descriptions_text-color_two
                            div.__descriptions__one 
                                ul.__descriptions_list-style.__descriptions_list-style_white.content-block__padding-left Acoustic quality:  
                                    li.__descriptions__one_item-style.__descriptions_item_margin-mobile Speaker size 10 mm
                                    li.__descriptions__one_item-style.__descriptions_item_margin-mobile.__descriptions_item-style_margin Frequency range 20 Hz - 20 kHz
                                    li.__descriptions__one_item-style.__descriptions_item_margin-mobile Sensivity 98dB / nW
                                    li.__descriptions__one_item-style.__descriptions_item_margin-mobile Power 10 mW
                                    li.__descriptions__one_item-style.__descriptions_item_margin-mobile Resistance - 32 Ohm
                            div.__descriptions__two 
                                ul.__descriptions_list-style.__descriptions_list-style_white.content-block__padding-left Product specification:  
                                    li.__descriptions__two_item-style._item-style_margin Light and convenient vaccum earphone with a remote control button
                                    li.__descriptions__two_item-style Compatible with all snarthphones (Android, iOS, etc.) CTIA headset pinout
                                    li.__descriptions__two_item-style Flat cable with a clip for fixing
                                    li.__descriptions__two_item-style Player control panel
                            div.__descriptions__three
                                 ul.__descriptions_list-style.__descriptions_list-style_white.content-block__padding-left Features:
                                    li.__descriptions__three_item-style._item-style_margin The package includes three additional size of ear cups (S,M,L)
                                    li.__descriptions__three_item-style Cabel length 1.2 m
                                    li.__descriptions__three_item-style Headphone type: Liners
                                    li.__descriptions__three_item-style Microphone construction: Located on a cable
                                    li.__descriptions__three_item-style Cable: flat, double-sided
            div.page__indicator.flex.flex_direction_column.flex_center.flex_align-center
                div.page__indicator__list.content-block_two_indicator-color
                div.page__indicator__list.content-block_two_indicator-color
                div.page__indicator__list.content-block_two_indicator-color
                div.page__indicator__list.content-block_two_indicator-color
                div.page__indicator__number.content-block_two_indicator-text-color 05
                div.page__indicator__text.content-block_two__indicator__text.content-block_two_indicator-color 
                div.page__indicator__line.content-block_two_indicator-color
                div.page__indicator__list.content-block_two_indicator-color
                div.page__indicator__list.page__indicator__margin.content-block_two_indicator-color 
                        //  page indicator watch in 3-layuots home.scss