section.content-block_three.flex
    .row#section-6.opacity.js--wp-5
        div.flex.flex_direction_column.content-block_margin-mobile
            div.content-block__head.flex.flex_direction_column
                div.flex.flex_start.flex_direction_column  
                    h3.content-block__title MX201 Metal – Gorgeous flickering 
                    span.content-block__text__buttom-line
                div.flex.flex_start.flex_direction_column
                    p.content-block__text Classic design in advanced material. The range of basic metal colors allows matching any style requirements. Matt finish gives gorgeous flickering and special look.
            div.content-block__img__static
                ul.flex.flex_space-around.flex-flow_wrap.content-block__padding-left 
                    li.block__img_list-style.block__img_margin_bottom
                        img(src="img/block_content/content-3-desktop-1.png" alt="Girl listening to music on headphones").content-block__img
                ul.flex.flex_space-around.flex-flow_wrap.content-block__padding-left 
                    li.block__img_list-style.block__img_margin_right
                        img(src="img/block_content/content-3-desktop-2.png" alt="Headphones connected to laptop").content-block__img
                    li.block__img_list-style.block__img_margin_left
                        img(src="img/block_content/content-3-desktop-3.png" alt="Black Headphones").content-block__img
            div.content-block__img__slider
                .container
                    div#slides5
                        picture
                            source(srcset="img/block_content/mx201_slide1_large.png" media="(min-width: 730px)")
                            source(srcset="img/block_content/mx201_slide1_medium.png" media="(min-width: 640px)")
                            source(srcset="img/block_content/mx201_slide1_small.png" media="(min-width: 320px)")
                            img.img(src="img/block_content/mx201_slide1_large.png" alt="Girl listening to music on headphones")
                        picture
                            source(srcset="img/block_content/mx201_slide2_large.png" media="(min-width: 730px)")
                            source(srcset="img/block_content/mx201_slide2_medium.png" media="(min-width: 640px)")
                            source(srcset="img/block_content/mx201_slide2_large.png" media="(min-width: 320px)")
                            img.img(src="img/block_content/mx201_slide2_large.png" alt="Girl listening to music on headphones")
                        a(href="#").slidesjs-previous.slidesjs-navigation
                            i.icon-chevron-left
                        a(href="#").slidesjs-next.slidesjs-navigation
                            i.icon-chevron-right
                .container
                    div#slides6
                        picture
                            source(srcset="img/block_content/mx201_slide3_large.png" media="(min-width: 730px)")
                            source(srcset="img/block_content/mx201_slide3_medium.png" media="(min-width: 640px)")
                            source(srcset="img/block_content/mx201_slide3_small.png" media="(min-width: 320px)")
                            img.img(src="img/block_content/mx201_slide3_large.png" alt="Girl listening to music on headphones")
                        picture
                            source(srcset="img/block_content/mx201_slide4_large.png" media="(min-width: 730px)")
                            source(srcset="img/block_content/mx201_slide4_medium.png" media="(min-width: 640px)")
                            source(srcset="img/block_content/mx201_slide4_small.png" media="(min-width: 320px)")
                            img.img(src="img/block_content/mx201_slide4_large.png" alt="Girl listening to music on headphones")
                        picture
                            source(srcset="img/block_content/mx201_slide5_large.png" media="(min-width: 730px)")
                            source(srcset="img/block_content/mx201_slide5_medium.png" media="(min-width: 640px)")
                            source(srcset="img/block_content/mx201_slide5_small.png" media="(min-width: 320px)")
                            img.img(src="img/block_content/mx201_slide5_large.png" alt="Girl listening to music on headphones")
                        a(href="#").slidesjs-previous.slidesjs-navigation
                            i.icon-chevron-left
                        a(href="#").slidesjs-next.slidesjs-navigation
                            i.icon-chevron-right
            div.content-block__type-color.content-block_three_color-margin 
                div.content-block__list-style_column.content-block__list-style.__type-color_list-style 
                    pcontent-block__descriptions_text-color.content-block__descriptions_text-color Available colors:
                    div.__type-color_position
                        ul.content-block__list-style_row.content-block__padding-left.content-block_three_color-text.content-block__descriptions_text-color 
                            li.__type-color_item-style.content-block_three_color-padding.__type-color_width-mobile
                                span.dot__block.dot__block_color-aluminium 
                                p.test_block Aluminium
                            li.__type-color_item-style.content-block_three_color-padding.__type-color_width-mobile 
                                span.dot__block.dot__block_color-graphite
                                p.test_block Graphite
                            li.__type-color_item-style.content-block_three_color-padding.__type-color_width-mobile 
                                span.dot__block.dot__block_color-gold
                                p.test_block Gold
                            li.__type-color_item-style.content-block_three_color-padding.__type-color_width-mobile 
                                span.dot__block.dot__block_color-brown
                                p.test_block Brown
                            li.__type-color_item-style.content-block_three_color-padding.__type-color_width-mobile 
                                span.dot__block.dot__block_color-smoke-blue
                                p.test_block Smoke Blue
                            li.__type-color_item-style.content-block_three_color-padding.__type-color_width-mobile 
                                span.dot__block.dot__block_color-lilac
                                p.test_block Lilac    
            div.content-block__descriptions.content-block__descriptions_text-color
                    div.__descriptions__one
                        ul.__descriptions_list-style.content-block__padding-left  Acoustic quality:
                            li.__descriptions__one_item-style.__descriptions_item_margin-mobile Speaker size 10 mm
                            li.__descriptions__one_item-style.__descriptions_item_margin-mobile.__descriptions_item-style_margin Frequency range 20 Hz - 20 kHz
                            li.__descriptions__one_item-style.__descriptions_item_margin-mobile Sensivity 93dB / nW
                            li.__descriptions__one_item-style.__descriptions_item_margin-mobile Power 10 mW
                            li.__descriptions__one_item-style.__descriptions_item_margin-mobile Resistance - 32 Ohm
                    div.__descriptions__two
                        ul.__descriptions_list-style.content-block__padding-left  Product specification:
                            li.__descriptions__two_item-style._item-style_margin Light and convenient vaccum earphone with a remote control button
                            li.__descriptions__two_item-style Compatible with all snarthphones (Android, iOS, etc.) CTIA headset pinout
                            li.__descriptions__two_item-style Flat cable with a clip for fixing
                            li.__descriptions__two_item-style Player control panel
                    div.__descriptions__three
                         ul.__descriptions_list-style.content-block__padding-left  Features:
                            li.__descriptions__three_item-style._item-style_margin  The package includes three additional size of ear cups (S,M,L)
                            li.__descriptions__three_item-style Cabel length 1.2 m
                            li.__descriptions__three_item-style Headphone type: Liners
                            li.__descriptions__three_item-style Microphone construction: Located on a cable
                            li.__descriptions__three_item-style Cable: flat, double-sided
    div.page__indicator.flex.flex_direction_column.flex_center.flex_align-center
        div.page__indicator__list.content-block_three_indicator-color
        div.page__indicator__list.content-block_three_indicator-color
        div.page__indicator__list.content-block_three_indicator-color
        div.page__indicator__list.content-block_three_indicator-color
        div.page__indicator__list.content-block_three_indicator-color
        div.page__indicator__number.content-block_three_indicator-text-color  06
        div.page__indicator__text.content-block_three__indicator__text.content-block_three_indicator-color 
        div.page__indicator__line.content-block_three_indicator-color
        div.page__indicator__list.page__indicator__margin.content-block_three_indicator-color
                //  page indicator watch in 3-layuots home.scss