section.content-block.flex
    .row.content-block_margin-right#section-4.opacity.js--wp-3 
        div.flex.flex_direction_column.content-block_margin-mobile.content-block_margin
            div.content-block__head.flex.flex_direction_column
                div.flex.flex_start.flex_direction_column
                    h3.content-block__title Mx101 - Trendy ESSENTIALS
                    span.content-block__text__buttom-line
                div.flex.flex_start.flex_direction_column
                    p.content-block__text Basic earphones, created for people who prefer severe, essential things. Nothing extra, only sound and in classical shape.
            div.content-block__img__static
                ul.flex.flex_space-around.flex-flow_wrap.content-block__padding-left 
                    li.block__img_list-style.block__img_margin_bottom.block__img_margin_right
                        img(src="img/block_content/content-1-desktop-1.png" alt="Girl listening to music on headphones").content-block__img
                    li.block__img_list-style.block__img_margin_left.block__img_margin_bottom
                        img(src="img/block_content/content-1-desktop-2.png" alt="White Headphones").content-block__img
                ul.flex.flex_space-around.flex-flow_wrap.content-block__padding-left
                    li.block__img_list-style.block__img_margin_right
                        img(src="img/block_content/content-1-desktop-3.png" alt="Black Headphones").content-block__img
                    li.block__img_list-style
                        img(src="img/block_content/content-1-desktop-4.png" alt="Headphones connected to laptop").content-block__img
            div.content-block__img__slider
                .container
                    div#slides
                        picture
                            source(srcset="img/block_content/mx101_slide1_large.png" media="(min-width: 730px)")
                            source(srcset="img/block_content/mx101_slide1_medium.png" media="(min-width: 640px)")
                            source(srcset="img/block_content/mx101_slide1_small.png" media="(min-width: 320px)")
                            img.img(src="img/block_content/mx101_slide1_large.png" alt="Girl listening to music on headphones")
                        picture
                            source(srcset="img/block_content/mx101_slide2_large.png" media="(min-width: 730px)")
                            source(srcset="img/block_content/mx101_slide2_medium.png" media="(min-width: 640px)")
                            source(srcset="img/block_content/mx101_slide2_small.png" media="(min-width: 320px)")
                            img(src="img/block_content/mx101_slide2_large.png" alt="Girl listening to music on headphones")
                        a(href="#").slidesjs-previous.slidesjs-navigation
                            i.icon-chevron-left
                        a(href="#").slidesjs-next.slidesjs-navigation
                            i.icon-chevron-right
                .container
                    div#slides2
                        picture
                            source(srcset="img/block_content/mx101_slide3_large.png" media="(min-width: 730px)")
                            source(srcset="img/block_content/mx101_slide3_medium.png" media="(min-width: 640px)")
                            source(srcset="img/block_content/mx101_slide3_small.png" media="(min-width: 320px)")
                            img.img(src="img/block_content/mx101_slide3_large.png" alt="Headphones connected to laptop")
                        picture
                            source(srcset="img/block_content/mx101_slide4_large.png" media="(min-width: 730px)")
                            source(srcset="img/block_content/mx101_slide4_medium.png" media="(min-width: 640px)")
                            source(srcset="img/block_content/mx101_slide4_small.png" media="(min-width: 320px)")
                            img.img(src="img/block_content/mx101_slide4_large.png" alt="Headphones connected to laptop")
                        a(href="#").slidesjs-previous.slidesjs-navigation
                            i.icon-chevron-left
                        a(href="#").slidesjs-next.slidesjs-navigation
                            i.icon-chevron-right
            div.content-block__type-color
                div.content-block__list-style.__type-color_list-style 
                    ul.content-block__padding-left.content-block__list-style_inline.content-block__descriptions_text-color Available colors:  
                        li.__type-color_item-style.content-block__list-style_padding-mobile
                            span.dot__block.dot__block_color-black 
                            p.test_block Black
                        li.__type-color_item-style.content-block__list-style_padding-mobile 
                            span.dot__block_white
                            p.test_block White
            div.content-block__descriptions.content-block__descriptions_text-color 
                    div.__descriptions__one 
                        ul.__descriptions_list-style.content-block__padding-left Acoustic quality:  
                            li.__descriptions__one_item-style.__descriptions_item_margin-mobile Speaker size 10 mm
                            li.__descriptions__one_item-style.__descriptions_item_margin-mobile.__descriptions_item-style_margin Frequency range 20 Hz - 20 kHz
                            li.__descriptions__one_item-style.__descriptions_item_margin-mobile Sensivity 98dB / nW
                            li.__descriptions__one_item-style.__descriptions_item_margin-mobile Power 10 mW
                            li.__descriptions__one_item-style.__descriptions_item_margin-mobile Resistance - 32 Ohm
                    div.__descriptions__two
                        ul.__descriptions_list-style.content-block__padding-left  Product specification:
                            li.__descriptions__two_item-style._item-style_margin Light and convenient vaccum earphone with a remote control button
                            li.__descriptions__two_item-style Compatible with all snarthphones (Android, iOS, etc.) CTIA headset pinout
                            li.__descriptions__two_item-style Flat cable with a clip for fixing
                            li.__descriptions__two_item-style Player control panel
                    div.__descriptions__three
                         ul.__descriptions_list-style.content-block__padding-left  Features:
                            li.__descriptions__three_item-style._item-style_margin The package includes three additional size of ear cups (S,M,L)
                            li.__descriptions__three_item-style Cabel length 1.2 m
                            li.__descriptions__three_item-style Headphone type: Liners
                            li.__descriptions__three_item-style Microphone construction: Located on a cable
                            li.__descriptions__three_item-style Cable: flat, double-sided
    div.page__indicator.flex.flex_direction_column.flex_center.flex_align-center
        div.page__indicator__list.content-block_indicator-color
        div.page__indicator__list.content-block_indicator-color
        div.page__indicator__list.content-block_indicator-color
        div.page__indicator__number.content-block_indicator-text-color 04
        div.page__indicator__text.content-block__indicator__text.content-block_indicator-color 
        div.page__indicator__line.content-block_indicator-color
        div.page__indicator__list.content-block_indicator-color
        div.page__indicator__list.content-block_indicator-color
        div.page__indicator__list.page__indicator__margin.content-block_indicator-color 
                //  page indicator watch in 3-layuots home.scss