footer
		div.footer__content.footer__content_flex
			div.footer__nav.footer__flex 
				.footer__nav__links
					a(href='#section-1') Home
				i.ion-android-remove
				.footer__nav__links 
					a(href='#section-2') About us
				i.ion-android-remove
				.footer__nav__links 
					a(href='#section-3') Products
				i.ion-android-remove
				.footer__nav__links 
					a(href='#section-4') Mx101
				i.ion-android-remove
				.footer__nav__links 
					a(href='#section-5') Mx102
				i.ion-android-remove
				.footer__nav__links 
					a(href='#section-6') Mx201
				i.ion-android-remove
				.footer__nav__links 
					a(href='#section-7') Contact
			div.footer__license
				.footer__license__text Created by manka house 2017. All rights reserved
		div.footer__logo.flex.flex_center
			.footer_logo