section.header#section-1.opacity.js--wp-8
    .main_logo.flex
        .row.flex.flex_start
            //.header__content
                div.header_position
                    div.logo.logo_padding.flex
                        div.logo_img.logo_img_white
            div.header__content__two.flex.flex_align-start.flex_center.flex_direction_column.opacity.js--wp-9
                div.header__title
                p.header__text Your lifestyle sound
                span.header__text__buttom-line
            div.header__content__two.flex.flex_align-start.flex_center.flex_direction_column
            div.header__content__two.flex.flex_align-start.flex_center.flex_direction_column
        div.page__indicator.flex.flex_direction_column.flex_flex-end.flex_align-center
            div.page__indicator__number.header_indicator-text-color 01
            div.page__indicator__text.header__indicator__text.header_indicator-color 
            div.page__indicator__line.header_indicator-color
            div.page__indicator__list.header_indicator-color
            div.page__indicator__list.header_indicator-color
            div.page__indicator__list.header_indicator-color
            div.page__indicator__list.header_indicator-color
            div.page__indicator__list.header_indicator-color
            div.page__indicator__list.page__indicator__margin.header_indicator-color
                //  page indicator watch in 3-layuots home.scss
            

