section.works_background
    div.works.flex#section-3
        .row.opacity.js--wp-2
            div.flex.flex_direction_column
                div.works__content_margin-titel.flex.flex_align-start.flex_start.flex_direction_column  
                    h3.flex.flex_direction_column.works__title.titel_mobile We create 
                        span.works__title.works__title_text-indent for you
                    span.works__text__buttom-line
                div.works__content_margin-text.flex.flex_align-start.flex_direction_row.flex_direction_column-mobile  
                    div.works__list
                        ul.works__list_mobile
                            li.works__item
                                a(href='#section-4').works__link MX101
                            li.works__item
                                a(href='#section-5').works__link MX102
                            li.works__item
                                a(href='#section-6').works__link MX201			
                    div.works__text__list
                        p.works__text.works__text_padding Once we have decided to make something simple, but special and have created probass products. It wasn’t such shot, as it is described in one sentence. It takes some month to build the product concept, give the name and create personal style, design. <br> We are working only with reliable suppliers and proud of our quality. The shape is always important for earphones, but the sound is the core issue for products related to music. Probass is cooperating with young designers to create the style and pay attention to each product component. Innovative R&D team insures the sound.
                        p.works__text.works__text__second Clear simple sound for everyday music in your life - it is all about probass.
        div.page__indicator.flex.flex_direction_column.flex_flex-end.flex_align-center
            div.page__indicator__list.works_indicator-color
            div.page__indicator__list.works_indicator-color
            div.page__indicator__number.works_indicator-text-color 03
            div.page__indicator__text.works__indicator__text.works_indicator-color 
            div.page__indicator__line.works_indicator-color
            div.page__indicator__list.works_indicator-color
            div.page__indicator__list.works_indicator-color
            div.page__indicator__list.works_indicator-color
            div.page__indicator__list.page__indicator__margin.works_indicator-color 
                    //  page indicator watch in 3-layuots home.scss