doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        title Probass
        meta(name="viewport" content="width=device-width, initial-scale=1.0 , minimum-scale=1, maximum-scale=1")
        link(rel="stylesheet" href="css/main.css")
        link(rel="apple-touch-icon", sizes="180x180", href="img/favicon/apple-touch-icon.png")
        link(rel="icon", type="image/png", sizes="32x32", href="img/favicon/favicon-32x32.png")
        link(rel="icon", type="image/png", sizes="16x16", href="img/favicon/favicon-16x16.png")
        link(rel="manifest", href="img/favicon/manifest.json")
        link(rel="mask-icon", href="img/favicon/safari-pinned-tab.svg", color="#5bbad5")
        meta(name="theme-color", content="#ffffff")
    body
        .backgroundFixed.opacity.js--wp-8
        include _sections/_nav
        include _sections/_head_logo
        include _sections/_botton-button
        include _sections/_header
        include _sections/_about
        include _sections/_works
        include _sections/_content-block
        include _sections/_content-block_two
        include _sections/_content-block_three
        include _sections/_why-we
        include _sections/_contacts
        include _sections/_footer
        script(type="text/javascript" src="libs/jquery-3.2.1.min.js")
        script(type="text/javascript" src="libs/jquery.slides.min.js")
        script(type="text/javascript" src="libs/TweenMax.min.js")
        script(type="text/javascript" src="libs/ScrollToPlugin.min.js")
        script(type="text/javascript" src="libs/jquery.waypoints.min.js")
        script(type="text/javascript" src="js/common.js")
